.DS_Store
**/__pycache__/
*.ply
*.bullet
.vscode/settings.json
output/*
output_tmp/*
docs/_build
.idea
**/.ipynb_checkpoints
.hypothesis
build/
dist/
*.egg-info/
*.blend*
shapenet2kubric/shapenet2kubric.log
examples/KuBasic/Cone/*
examples/KuBasic/rain*/*
Dockerfile
