.DS_Store
**/__pycache__/
*.ply
*.bullet
*.png
*.exr
.vscode/settings.json
.vscode/launch.json
output/*
docs/_build
.idea
**/.ipynb_checkpoints
.hypothesis
__MACOSX/
ManifoldPlus/
build/
dist/
*.egg-info/
*.blend*
