.DS_Store
**/__pycache__/
*.ply
*.bullet
*.png
*.exr
.vscode/settings.json
.vscode/launch.json
output/*
docs/_build
.idea
process_shapenet/output
process_shapenet/output_old
**/.ipynb_checkpoints
.hypothesis
__MACOSX/
ManifoldPlus/
build/
dist/
*.egg-info/
*.blend*
