apache-beam[gcp]
bidict
dataclasses
cloudml-hypertune
google-cloud-storage
imageio
munch
numpy>=1.17
pandas
pypng
pyquaternion
scikit-learn
singledispatchmethod
tensorflow
tensorflow-datasets>=4.1.0
traitlets
trimesh
