
<robot name="587cee5495322f18cf1584c5b09d332">
    <link name="base">
        <contact>
            <lateral_friction value="0.0" />  
        </contact>
        <inertial>
            <origin xyz="0.0 0.0 0.0" />
            <mass value="0.0" />
            <inertia ixx="-0.0" ixy="0.0" 
                     ixz="-0.0" iyy="-0.0" 
                     iyz="-0.0" izz="0.0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="visual_geometry.obj" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="collision_geometry.obj" />
            </geometry>
        </collision>
    </link>
</robot>
